html, body {
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    --text: white;
    --background-primary: #181818;
    --background-secondary: #1f1f1f;
    --border: grey;
    --border-dim: black;
    --button-hover: #505050;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-primary);
    color: var(--text);
    font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
    font-size: 11pt;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
}

body.light {
    --text: black;
    --background-primary: rgb(226, 226, 226);
    --background-secondary: white;
    --border: grey;
    --border-dim: rgb(173, 173, 173);
    --button-hover: #d0d0d0;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#header > * {
    margin: 0 .4rem 0 0;
}

#header >*:last-child {
    margin-right: none;
}

.panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

#screen-panels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
}

.panel {
    padding: 1em;
    border: 1px solid var(--border);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--background-secondary);
}

#screen-panels > .panel:first-child {
    border-left: none;
}

#screen-panels > .panel {
    border-right: none;
}

.panel-title {
    position: absolute;
    top: .1em;
    left: .3em;
    font-size: 70%;
    opacity: .5;
}

.panel-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.panel-inputs {
    overflow: auto;
}

canvas {
    display: block;
}

input,
button,
select,
option {
    font: inherit;
}

button {
    padding: .4rem;
    background-color: var(--background-primary);
    border: 1px solid var(--border);
    color: inherit;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

select {
    background: var(--background-primary);
    border-radius: 0;
    border: 1px solid var(--border);
    color: inherit;
    padding: .4rem;
}

#button-export {
    margin-right: 0;
    border-right: none;
}

#input-image {
    display: none;
}

#input-image-label {
    box-sizing: border-box;
    padding: .4rem;
    background-color: var(--background-primary);
    border: 1px solid var(--border-dim);
    color: inherit;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

#input-image-label:hover {
    background-color: var(--button-hover);
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.panel .input-group {
    margin-top: .4rem;
}

.input-group label {
    user-select: none;
}

.input-group input[type="range"] {
    width: 100%;
    margin: 0;
}

.input-group-boolean {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.input-group-boolean input {
    margin-left: 0;
}

.panel button, .panel select {
    border: 1px solid var(--border-dim);
}

.curve-input {
    margin-top: .8rem;
    background: var(--background-primary);
    border: 1px solid var(--border-dim);
}

.panel canvas {
    border: 1px solid var(--border-dim);
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.btn-group > * {
    margin-right: .2rem;
}

.btn-group >*:last-child {
    margin-right: none;
}

#source-canvas {
    max-width: 256px;
}

#output-canvas {
    image-rendering: crisp-edges;
}

